.input {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 1rem;
  transition: box-shadow .3s;
  background-color: white;
  width: 240px;
  &:focus {
    box-shadow: 0 0 0 3px rgba(48,144,228,.1);
  }
}

.loading {
  margin-left: 5px;
}
